body {
    margin: 0;
    background-color: #c5d9d0;
    font-family: 'Handlee', cursive;
    color: #333;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
    z-index: 1000; /* Projelerin altında olması için z-index ekledik */
}

nav a {
    color: #eee;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
}

nav a:hover {
    background-color: #c5d9d0;
    color: #333;
    text-decoration: none;
}
.navLogo{
    display: none;
}
@media (max-width: 600px) {
    nav{
        padding: 0%;
    }
    .navText {
        font-size: 7px;
    }
    .navLogo {
        display: block;
        max-width: 32px;
    }
}
